@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.body{
  background: rgba(0, 0, 0,0.9);
}
/*Banner*/
nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar a {
  color: #fff;
}
.navbar a:hover {
  color: #f7dc6f;
}
.navbar h1,
h2 {
  color: #fff;
}
.navbar h1:hover,
h2:hover {
  color: #fff;
  border-bottom: transparent;
}
.navbar-brand {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.navbar-brand h1 {
  font-size: 25px;
}
.navbar-brand h2 {
  font-size: 18px;
  letter-spacing: 3px;
}
.navbar-brand h1,
.navbar-brand h2 {
  margin: 0;
  padding: 0;
}
.nav-item {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
}
.container {
  width: 100%;
  margin-top: 110px;
}
.slider-item {
  background-image: url("../images/bg_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 750px;
  position: relative;
  z-index: 0;
}
.slider-text {
  color: #fff;
  height: 750px;
}
.overlay {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.3;
  z-index: 0;
}
.slider-home {
  color: #fff;
}
.slider-home:hover {
  color: #f7dc6f;
  text-decoration: none;
}
.breadcrumb {
  background: #f7dc6f;
}
.breadcrumb-item {
  background: transparent;
}
.container-info {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  /*Flex*/
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  top: -130px;
  z-index: 1;
}
.block-info {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.block-contact {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #000;
}
.info {
  width: 27%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.info .icon-info {
  width: 10%;
  color: #c49b63;
}
.info h3 {
  font-size: 19px;
  color: #fff;
  font-weight: 600;
}
.info p {
  color: #80808080;
  font-weight: 400;
}
.info .text-info {
  width: 80%;
  font-size: 18px;
  color: #fff;
}
.book {
  width: 30%;
  font-family: "Open Sans", sans-serif;
  padding: 24px;
  background: #c49b63;
}
.book h3 {
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
}
.form-group {
  width: 100%;
  display: block;
}
.book input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.book input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.book input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
.book textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.book textarea:-ms-textarea-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.book textarea::-ms-textarea-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
.form-control {
  border: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  height: 58px !important;
  background: transparent !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 13px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/*Menu-Carta*/
.container-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-menu .menu1 {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-carta {
  width: 80%;
  padding: 0px 16px;
  padding-bottom: 50px;
}
.container-carta h3{
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 25px;
}
.container-carta .carta {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container-carta .carta .img-carta {
  width: 60px;
  height: 60px;
  background: url("../images/dish-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.container-carta .carta .detalle-carta {
  width: 92%;
  margin-left: 15px;
  color: #fff;
}
.container-carta .carta .detalle-carta .title-carta {
  width: 100%;
  display: block;
  position: relative;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 600;
  z-index: 0;
}
.container-carta .carta .detalle-carta .title-carta::after {
  position: absolute;
  bottom: 7%;
  left: 0;
  right: 0;
  content: "";
  width: 80%;
  height: 1px;
  border-bottom: 1px dashed #674c27;
  z-index: -1;
}
.container-carta .carta .detalle-carta .title-carta h3{
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: 400;
}
.container-carta .carta .detalle-carta .title-carta span{
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: 400;
  color: #c49b63;
}
.container-carta .carta .detalle-carta .description-carta{
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  color: #80808080;
}

/*Titulo*/
.contenedor-titulo{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.contenedor-titulo .titulo{
  font-size: 60px;
  font-family: 'Parisienne', cursive;
  color: #c49b63;
}
.contenedor-titulo span,
.contenedor-titulo h2{
margin: 0px;
padding: 0px;
}
.contenedor-titulo span{
  position: relative;
  top: 38px;
}
.contenedor-titulo h2{
  font-size: 40px;
  margin-bottom: 34px;
}
.contenedor-titulo p{  
  font-size: 20px;
  text-align: center;
  color: #808080;
}
/*Muestra Menu*/
.contenedor-muestra-menu{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 150px;
}
/*Muestra Menu navbar*/
.contenedor-muestra-menu .nav{
  background: transparent;
  justify-content: center;
  border-bottom: transparent;
}

.contenedor-muestra-menu .nav .nav-item{
  margin: 0 5px;
 background:transparent;
 font-family: "Open Sans", sans-serif;
 font-weight: 400;
 font-size: 18px;
 color: #c49b63;
 letter-spacing: 1px;
 border: none;
 border-bottom: 1px solid #c49b63;
 
}
.contenedor-muestra-menu .nav .nav-item:hover{
  color: #000;
  background: #c49b63;
  border-radius: 0px;
  border: none;
}
.contenedor-muestra-menu .nav .active{
  background-color: #c49b63 !important;
  border-bottom: 1px solid transparent !important;
  border-radius: 0px !important;
  color: #000 !important;
}
/*Muestra Menu Card*/
.contenedor-muestra-menu .card{
  background: transparent;
  border: transparent;
}
.contenedor-muestra-menu .card-img-top{
  height: 270px;
  background: url('../images/dish-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contenedor-muestra-menu .card-body .card-title{
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}
.contenedor-muestra-menu .card-body .card-text{
  color: #808080;
  font-size: 18px;
}
.contenedor-muestra-menu .card-body p{
  margin-bottom: 20px;
}
.contenedor-muestra-menu .card-body span{
  display: block;
  color: #ffffff;
  font-size: 18px;
}
.contenedor-muestra-menu .card-footer{
  background: transparent;
  border: transparent;
}
.contenedor-muestra-menu .card-footer .btn-muestra{
  background: transparent;
  border: 1px solid #c49b63 ;
  border-radius: 0px;
  color: #c49b63;
}

/*Footer*/
.contenedor-footer{
  width: 100%;
  height: 720px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor-footer .footer{
  width: 80%;
  display: flex;
  flex-direction: row;
}

/*About Us*/
.contenedor-footer .footer .footer-about-us h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 40px;
}
.contenedor-footer .footer .footer-about-us p{
  color: #808080;
  font-size: 20px;
  margin-bottom: 100px;
}
.contenedor-footer .footer .footer-about-us ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.contenedor-footer .footer .footer-about-us ul li{
  margin: 0px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  background: #1E1B1B;
  border-radius: 50%;
}
.contenedor-footer .footer .footer-about-us ul li a{
  width: 100%;
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;

}
.contenedor-footer .footer .footer-about-us ul li a:hover{
  text-decoration: none;
}

/*Recent Blog*/

.contenedor-footer .footer .footer-recent-blog{
  display: flex;
  flex-direction: column;
}
.contenedor-footer .footer .footer-recent-blog h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 40px;
}
.contenedor-footer .footer .footer-recent-blog .noticia-blog{
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}
.contenedor-footer .footer .footer-recent-blog .noticia-blog .img-blog-footer{
  width: 80px;
  height: 80px;
  background: url('../images/image_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 30px;
}
.contenedor-footer .footer .footer-recent-blog .noticia-blog .info-blog-footer{
  display: flex;
  flex-direction: column;
}
.contenedor-footer .footer .footer-recent-blog .noticia-blog .info-blog-footer a{
  text-decoration: none;
}
.contenedor-footer .footer .footer-recent-blog .noticia-blog .info-blog-footer .text-blog-footer h3{
  font-size: 17px;
}
.contenedor-footer .footer .footer-recent-blog .noticia-blog .info-blog-footer .text-blog-footer h3 a{
  color: #fff;
}
.contenedor-footer .footer .footer-recent-blog .noticia-blog .info-blog-footer .more-info{
  display: flex;
  flex-direction: row;
}
.contenedor-footer .footer .footer-recent-blog .noticia-blog .info-blog-footer .more-info a{
  color: #808080;
  margin-right: 20px;
  font-size: 16px;
}
.contenedor-footer .footer .footer-recent-blog .noticia-blog .info-blog-footer .more-info a i{
  color: #fff;
}

/*Service-footer*/
.contenedor-footer .footer .service{
  display: flex;
  flex-direction: column;
}
.contenedor-footer .footer .service h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 40px;
}
.contenedor-footer .footer .service ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.contenedor-footer .footer .service ul li{
  margin-bottom: 20px;
}
.contenedor-footer .footer .service ul li a{
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

/*Info-footer*/
.contenedor-footer .footer .info-footer{
  display: flex;
  flex-direction: column;
}
.contenedor-footer .footer .info-footer h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 40px;
}
.contenedor-footer .footer .info-footer ul{
  display: flex;
  flex-direction: column;
  color: #ffffff;
  list-style: none;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.contenedor-footer .footer .info-footer ul li{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 28px;
}
.contenedor-footer .footer .info-footer ul li i{
  margin-right: 15px;
  font-size: 18px;
}
.contenedor-footer .footer .info-footer ul li span{
  margin-top: 0px;
}